  *{
    padding: 0;
    list-style: none;
    margin: 0;
    box-sizing: border-box;
  }
  /* styling for the login page starts here  */
.login{
  background-color: #0a1117;
}
.login h1{
  color: #f0f0f0;
  text-align: center;
}
.center-div {
 position: absolute;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);
 width: 500px;
 height: 400px;
 color: #f0f0f0;
 padding: 20px;
 background-color: rgba(199, 44, 68, 0.783);
 box-shadow: 0px 0px 5px 0px rgba(151, 19, 19, 0.2)2;
 border-radius: 10px;
}
form {
 display: flex;
 flex-direction: column;
}
label{
  padding: 20px 5px;
}

input[type="submit"] {
 margin-top: 40px;
 background-color: #131829;
 color: white;
 padding: 10px 20px;
 border: none;
 cursor: pointer;
}

input[type="submit"]:hover {
  background-color: 20374e;
}
input[type="email"]{
  padding: 10px;
  border-radius: 10px;
}
input[type="password"]{
  padding: 10px;
  border-radius: 10px;
}


/* home page design starts here */
.home-page-body{
  height: 100vh;
  display: grid;
  grid-template-columns: 150px 1fr;
  grid-template-rows: 40px 1fr;
}
.header{
  background-color: #464f7c;
  padding: 10px 20px ;
  
}
.sidebar{
  background-color: #1c1f23af;
  grid-column: 1 / 2;
  grid-row: 1 / 3;
}
.main{
  margin-top: 20px;
  background-color: #c3c5ca;
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap:10px;
  padding: 10px;
}

.card {
  background-color: #f0f0f0;
  border-radius: 5px;
}
.bigger-class{
  background-color: #f0f0f0;
  border-radius: 5px;
  grid-column:1 / 3;
  grid-row: 2 / 4;
}
@media only screen and (max-width: 450px)
{

.main{
  background-color: #c3c5ca;
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  gap:10px;
  padding: 10px;
}
.bigger-class{
background-color: #f0f0f0;
border-radius: 5px;
grid-column:1 / 2 ;
grid-row: 1 / 3;
}
}